<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>AboutUs</title>
  <link rel="stylesheet" type="text/css" href="/resources/style.css">
</head>
<body>
  <% include partials/header.ejs %>
  <% include partials/user-navigation.ejs %>
  <% include partials/site-navigation.ejs %>

  <main>
    <ul class="breadcrumb">
      <li><a href="/index">Home </a>&gt;</li>
      <li><a href="/about"> About Us</a></li>
    </ul>
    <h1 class="align">About Us </h1>
    <br>
    <p>Welcome! A healthy diet is a diet that helps to maintain or improve overall health. A healthy diet provides the body with essential nutrition.</p>
  <p>There is more than one way to eat healthfully and everyone has their own eating style. Make healthier choices that reflect your preferences, culture, traditions, and budget. Choose fruits, vegetables, grains, dairy, and protein foods to get the most nutrition and meet your personal calorie needs. </p>

      <% include partials/footer.ejs %>
    </main>
  </body>
  </html>
