<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>ContactUs</title>
  <link rel="stylesheet" type="text/css" href="/resources/style.css">
</head>
<body>
  <% include partials/header.ejs %>
  <% include partials/user-navigation.ejs %>
  <% include partials/site-navigation.ejs %>
  <main>
    <ul class="breadcrumb">
      <li><a href="/index">Home </a>&gt;</li>
      <li><a href="/contact"> Contact Us</a></li>
    </ul>
    <div  class="align">
      <h1>Contact Us</h1>
      <br>
      <p><strong>For more information, contact</strong></p>
      <p>tganesh@uncc.edu</p>
      <p>+1(347)7204831</p>
    </div>
  </main>
  <% include partials/footer.ejs %>
</body>
</html>
