<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HealthyEating</title>
  <link rel="stylesheet" type="text/css" href="/resources/style.css">
</head>
<body>
  <% include partials/header.ejs %>
  <% include partials/user-navigation.ejs %>
  <% include partials/site-navigation.ejs %>

  <main>
    <ul class="breadcrumb">
      <li><a href="/index">Home </a></li>
    </ul>
    <div class="c-image">
      <div class="c-text">
        <h1>Welcome to Healthy Eating!</h1>
        <h2>Make better food choices to maintain and improve overall health. </h2>
        <h3>Explore our site and get inspired by the recipes we offer. </h3>
      </div>
    </div>
  </main>
  <% include partials/footer.ejs %>
</body>
</html>
