<header>
  <img class="imgSize" src="/resources/image/healthy.jpg" alt="logo"/>
  <% if(user){%>
    <p class="rightHeader">Welcome, <%=user%> </p>
    <%} else   {%>
      <p></p>
      <%}%>
    </header>
